# IGNORE SELF
.vscodeignore

# SCM
.git/
.gitignore
.gitattributes

# SOURCE-FILES & TYPESCRIPT
extension/
package-lock.json
**/*.ts
**/*.mts
**/*.cts
**/*.d.ts
**/*.*.map
**/*.*.*.map
**/tsconfig.json
**/tsconfig.*.json

# DEVELOPMENT ENVIRONMENT
.vscode/
.editorconfig
.eslintrc.json
.prettierrc.json
.npmrc

# MISCELLANEOUS
.workspace
